.btn{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.btn:focus{
  outline: 0;
}

.btn-height{
  height: 100px;
}

.btn-blue1{
  background: #4BABFF;
}

.btn-blue2{
  background: #4B7BFF;
}

.btn-blue3{
  background: #4B4BFF;
}

.btn-blue4{
  background: #6E4BFF;
}

.btn-secondary{
  color: #4B7BFF;
  background-color: #fff;
}

.btn-red{
  color: #cc0000;
}

.logo{
  width: 52px;
  height: 48px;
  opacity: 0.8;
  margin-right: 20px;
}

@media screen and (max-width: 1600px) {
  .btn{
    border-radius: 10px;
    font-size: 22px;
  }
  .btn-height{
    height: 60px;
  }
  .logo{
    width: 32px;
    height: 28px;
    opacity: 0.8;
    margin-right: 10px;
  }
}